<!doctype html>
<html layout:decorate="~{_layout}">
<head>
    <title>title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <h3 th:text="|Event page for: ${event.name}|"></h3>
            <p>Available seats:</p>
            <p th:text="${availableSeats}"></p>
            <form>
                <div th:each="ticket,iter : ${availableSeats}">
                    <input type="checkbox" th:name="|seats[${iter}]|" th:id="|sections${ticket}|" th:value="${ticket}"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>