<!doctype html>
<html layout:decorate="~{_layout}">
<head>
    <title>Events</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Events</h1>
    <div class="row">
        <div class="col-12" th:each="event : ${events}">
            <a sec:authorize="isAuthenticated()" th:href="|/events/${event.id}|">
                <p th:text="|${event.airDate} - ${event.name}, rating: ${event.rating}, auditorium: ${event.auditorium.name}|"></p>
            </a>
            <p sec:authorize="!isAuthenticated()"
               th:text="|${event.airDate} - ${event.name}, rating: ${event.rating}, auditorium: ${event.auditorium.name}|"></p>
        </div>
    </div>
</div>
</body>
</html>