<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}" href="static/css/bootstrap.min.css">

    <title>Hello, world!</title>
</head>
<body>

<h1 th:text="${events}"></h1>

<div class="container">
    <div class="row">
        <div class="col-12" th:each="event : ${events}">
            <p th:text="${event}"></p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script th:src="@{/static/js/bootstrap.min.js}" src="static/js/bootstrap.min.js"></script>
</body>
</html>