<!doctype html>
<html layout:decorate="~{_layout}">
<head>
    <title>title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-12">
            <h3 th:text="|Event page for: ${event.name}|"></h3>
            <p>Available seats:</p>
            <div class="seats-container" th:attr="data-event=${event.id}, data-url=${#httpServletRequest.requestURI}">
                <div class="d-flex flex-wrap">
                    <div th:each="seat : ${@viewUtils.getSeatViews(event)}">
                        <div class="seat-item" th:attr="data-id=${seat.number}" th:classappend="${seat.booked} ? seat-booked : seat-free">
                            <span th:text="${seat.number}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <button class="book-tickets btn btn-success">Book tickets</button>
            <button class="price-tickets btn btn-primary">Preview price</button>
        </div>
    </div>
    <script src="/static/js/bookTickets.js"></script>
</div>
</body>
</html>