<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form method="post" action="batch/users" enctype="multipart/form-data">
        <label for="file-users">User upload:</label>
        <input type="file" name="file" id="file-users">
        <button>Submit</button>
    </form>
</div>
<div>
    <form method="post" action="batch/events" enctype="multipart/form-data">
        <label for="file-events">Event upload:</label>
        <input type="file" name="file" id="file-events">
        <button>Submit</button>
    </form>
</div>

</body>
</html>