<!doctype html>
<html layout:decorate="~{_layout}">
<head>
    <title>Upload form</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="custom-file mb-5">
                <form class="form-group" method="post" action="batch/users" enctype="multipart/form-data">
                    <input class="custom-file-input" type="file" name="file" id="file-users">
                    <label class="custom-file-label" for="file-users">User upload:</label>
                    <button class="btn btn-primary my-2">Upload</button>
                </form>
            </div>
            <div class="custom-file mt-5">
                <form class="form-group" method="post" action="batch/events" enctype="multipart/form-data">
                    <input class="custom-file-input" type="file" name="file" id="file-events">
                    <label class="custom-file-label" for="file-events">Event upload:</label>
                    <button class="btn btn-primary my-2">Upload</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
    $('.custom-file-input').on('change',function(){
          var fileName = $(this).val();
          $(this).next('.form-control-file').addClass("selected").html(fileName);
        })
    });

</script>
</body>
</html>