<!doctype html>
<html layout:decorate="~{_layout}">
<head>
    <title>title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <h3 th:text="|User: ${user.nickName}|"></h3>
            <form th:method="post" th:action="@{/users/update}" th:object="${user}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="FirstName..."
                           th:field="*{firstName}" th:val="${user.firstName==null ? '' : user.firstName}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="LastName..."
                           th:field="*{lastName}" th:val="${user.lastName==null ? '' : user.lastName}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email"
                           th:field="*{email}" th:val="${user.email==null ? '' : user.email}">
                </div>
                <!--<div class="form-group">
                    <input type="text" class="form-control" placeholder="BirthDate"
                           th:field="*{birthday}" th:val="${user.birthday==null ? '' : user.birthday}">
                </div>-->
                <input type="submit" value="Save changes"/>
            </form>
        </div>
        <div sec:authorize="! hasRole('BOOKING_MANAGER')" class="col-md-6">
            <h3 th:text="Refill account"></h3>
            <p th:text="'Account sum: $' + ${user.account.amount}"></p>
            <form class="form-inline" action="/booking/refill" method="post">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" name="amount" id="amount" placeholder="Amount...">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Refill account</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p th:text="|Tickets bought:|" class="text-center"></p>
            <table class="table">
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Seat</th>
                    <th>Price</th>
                    <th>Discount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ticket : ${user.tickets}">
                    <th th:text="${ticket.event.name}"></th>
                    <th th:text="${ticket.seat}"></th>
                    <th th:text="${ticket.price}"></th>
                    <th th:text="${ticket.discount.amount == 0 ? '' : ticket.discount.amount}"></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>