<!doctype html>
<html layout:decorate="~{_layout}">
<head>
    <title>title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-6">
            <h3 th:text="|User: ${user.nickName}|"></h3>
            <p th:text="|First name: ${user.firstName}|"></p>
            <p th:text="|Last name: ${user.lastName}|"></p>
            <p th:text="|Email: ${user.email}|"></p>
            <p th:text="|Birth date: ${user.birthday}|"></p>
            <p th:text="|Tickets bought:|" class="text-center"></p>
            <table class="table">
                <thead>
                <tr>
                    <th>Event</th>
                    <th>Seat</th>
                    <th>Price</th>
                    <th>Discount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ticket : ${user.tickets}">
                    <th th:text="${ticket.event.name}"></th>
                    <th th:text="${ticket.seat}"></th>
                    <th th:text="${ticket.price}"></th>
                    <th th:text="${ticket.discount.amount == 0 ? '' : ticket.discount.amount}"></th>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <p sec:authorize="!hasAuthority('BOOKING_MANAGER')" th:text="'Account sum:$' + ${user.account.amount}"></p>
            <form class="form-inline" action="/booking/refill" method="post">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" name="amount" id="amount" placeholder="Amount...">
                </div>
                <button type="submit" class="btn btn-primary mb-2">Refill account</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>